.popup__close-button {
  width: 32px;
  border: none;
  position: absolute;
  height: 32px;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-size: 32px;
  background-image: url("../../../images/button-close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .3s;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 640px) {
  .popup__close-button {
    top: -48px;
    right: 0px;
  }
}

@media screen and (max-width: 420px) {
  .popup__close-button {
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}
