.profile__button_type_edit-profile-avatar {
  width: 120px;
  height: 120px;
  padding: 0;
  position: relative;
  border: none;
  background-color: transparent;
  border-radius: 50%;


}

.profile__button_type_edit-profile-avatar:hover {
  opacity: 1;
}

.profile__button_type_edit-profile-avatar:hover::after {
  background-image: url("../../../../images/button-edit.svg");
  content: '';
  background-color: rgba(0 0 0 /80%);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: 26px;
}
