.card__button-delete {
  background-image: url(../../../images/button-delete.svg);
  width: 18px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s;
}

.card__button-delete:hover {
  opacity: 0.6;
}
