.card__button-like {
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__button-like:hover {
  opacity: 0.6;
}
